
@{
    ViewBag.Title = "Login";
}

<!--
Proyecto Tópicos Selectos de Computadoras.
Ventana Login.
Donde se pueda eligir el usuario (usuario administrador del sistema, usuario de la custodia, usuario invitado).
-->


<!DOCTYPE HTML>
<HEAD>
    <html lang="es" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .jumbotron {
            background-color: green;
            color: #ffffff;
        }

        .logo {
            font-size: 200px;
        }
    </style>

    <script>
        function la(src) {
            window.location = src;
        }

    function WinOpen() {
        var url=document.redirect.selection.value
        document.location.href=url
    }

    </script>
</HEAD>
<BODY>
    <div class="jumbotron text-center">
        <h1>Universidad Latina de Costa Rica</h1>
        <p>La mejor universidad privada del país</p>
    </div>

    <div class="container-fluid bg-grey text-center">
        <span class="glyphicon glyphicon-globe logo"></span>

        <div class="container text-center">
            <br>

            @*<label for="nombreDeUsuario"><b>Nombre de usuario:</b></label>*@
            @*<select>
                <option value="http://www.google.com">Usuario Administrador del Sistema</option>
                <option value="http://www.google.com">Usuario de la Custodia</option>
                <option value="http://www.google.com">Usuario invitado</option>
            </select>*@
            @*<form target="_blank">*@


                @*<select>
                    <option value="http://www.google.com">Opcion1</option>
                    <option value="http://www.google.com">Opcion2</option>
                    <option value="http://www.google.com">Opcion2</option>
                </select>*@ 

            <form name="redirect">
                <label for="nombreDeUsuario"><b>Nombre de usuario:</b></label>
                <select name="selection">
                    <option value="http://www.google.com">Usuario Administrador</option>
                    <option value="http://www.google.com">Usuario de la Custodia</option>
                    <option value="http://www.google.com">Usuario Invitado</option>
                </select>
                @*<input type=button value="Go!" onClick="WinOpen();">*@

                <br>
                <br>

                <label for="contrasenna"><b> Contraseña: </b></label>
                <input type="password" placeholder="Ingresa tu contraseña" name="psw" required>

                <br></br>

                <button type="button" class="btn btn-success btn-md" onclick="WinOpen()">Ingresar al sistema</button>
                <button type="submit" class="btn btn-success btn-md">¿Has olvidado tu contraseña?</button>
            </form>

                
            @*</form>*@

            <br></br>
            <br></br>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>


</BODY>
</HTML>





